<%- include('partials/head') %>
<!DOCTYPE html>

<nav
    class="navbar navbar-expand-lg navbar-dark"
    style="background-color: black"
  >
    <a class="navbar-brand" href="/"
      ><img src ="/OBOG_LOGO.jpg"  width="50" height="50"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/login">Log in </a>
        <a class="nav-item nav-link active" href="/">ABOUT OBOG</a>
      </div>
    </div>
  </nav>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

    <title>About Us!</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/album/"
    />

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">ABOUT US:</h4>
              <p class="text-muted">
                The OBOG Wind Symphony is made up of alumni members from various
                secondary schools to continue their passion for music. It has
                been formed since 2008 and had their inaugaral concert, OBOG
                Live. Under the directorship of Mr Lim Yean Hwee, it has also
                collaborated with an overseas band for an exchange and a
                combined concert in Malaysia. Currently, the band is supported
                by Yuhua Community Centre as part of its community outreach
                program. OBOG Wind Symphony strives to spread its joy of music
                to the community.
              </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li>
                  <a href="https://twitter.com/obogwindsymphony" class="text-white"
                    >Follow on Twitter</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.facebook.com/OBOGWindSymphony/"
                    class="text-white"
                    >Like us on Facebook</a
                  >
                </li>
                <li>
                  <a href="mailto:obogwindsymphony@gmail.com" class="text-white"
                    >Email us for sponsorships or collaborations!</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>OBOG Wind Symphony!</strong>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarHeader"
            aria-controls="navbarHeader"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Evergreen Serenades @ Singapore Botanical Gardens</h1>
          <p class="lead text-muted">
           OBOG Wind Symphony performed at the Singapore Botanic Gardens Shaw Symphony Stage on 15th March 2020 6pm. We're looking forward to a great evening at the gardens. Bring along your family, friends and picnic mats and we'll see you there! 😊
          </p>
          <p>
            <a href="https://www.esplanade.com/festivals-and-series/soundtracks/2018/movie-hits-through-the-ages" class="btn btn-primary my-2"
              >Join us now!
            </a>
            <a href="https://youtube.com/playlist?list=PLnYIQOJ_oGfqjEk1lVEyG8c5gOUkP-Um8" class="btn btn-secondary my-2">UPCOMING EVENTS</a>
          </p>
<p class="lead">Featured Video of the Month:<br></p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/DzxeNL5JyP8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img
                  class="card-img-top"
                  src="/event1_1.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <p class="card-text">
                    Band
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>

  <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img
                  class="card-img-top"
                  src="/event1_2.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <p class="card-text">
                    Audience
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img
                  class="card-img-top"
                  src="/event1_4.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <p class="card-text">
                  Mr Lim, Jeremy, Tay Kewei
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>

    

             <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img
                  class="card-img-top"
                  src="/event1_5.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <p class="card-text">
                    Picture 5<BR /><BR /> 
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>

<div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img
                  class="card-img-top"
                  src="/event1_3.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <p class="card-text">
                    Picture 3<BR /><BR />
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>



            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img
                  class="card-img-top"
                  src="https://scontent.fsin9-2.fna.fbcdn.net/v/t1.6435-9/87161568_2740263442716837_535860911785639936_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=rj8DozmHiasAX9ffwZG&_nc_ht=scontent.fsin9-2.fna&oh=00_AT_HR6jmA96VBMXm24pNNdVtyGPBqWlTDrYQkdKIzLJk4Q&oe=6206A4F9"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <p class="card-text">
                     <u><B>Evergreen Serenades <br>@ Singapore Botanical Gardens<BR /><BR /></u></b> Didn't manage to catch us at the Esplanade Outdoor Theatre or couldn't get enough of us? OBOG Wind Symphony will be performing at the Singapore Botanic Gardens Shaw Symphony Stage on 15th March 2020 6pm. We're looking forward to a great evening at the gardens. Bring along your family, friends and picnic mats and we'll see you there! 😊
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <a href="https://www.facebook.com/OBOGWindSymphony/photos/2789924164417431" 
                        button type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >More information</a>
              
                    </div>
                    <small class="text-muted">yay </small>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>You have reached the end of the page:<br>We hope you have a great day!</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>'
        );
    </script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>

<%- include ('partials/footer') %>
